name: Deploy Frontend to Firebase Hosting on Merge

on:
  push:
    branches:
      - main

jobs:
  hosting_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install frontend dependencies
        working-directory: front
        run: npm ci

      - name: Build frontend
        working-directory: front
        run: npm run build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PERSONAL_67927 }}
          channelId: live
          projectId: personal-67927
